* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: flex;
    max-width: 500px;
    margin: 10px auto;
    flex-wrap: wrap;
}
div.sinal {
    background: black;
    border-radius: 10px;
    padding: 50px;
}
div.red, div.green, div.yellow {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 10px;
}
div.red {
    background-color: red;
}
div.yellow {
    background-color: rgb(71, 71, 20);
}
div.green {
    background-color: rgb(15, 49, 15);
}
div.button {
    padding: 30px;
    background-color: blue;
    border-radius: 10px;
    max-height: 78px;
}